.imgSmall{
    width: 180px;
    height: 180px;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 2%;
}
.сonteiner {
    padding: 10px;
    display: flex;
}

.cat_plate{
    margin: 10px;
    width: 250px;
    height: 280px;
}

.buttons-prod{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttons-prod-buttons{
    justify-content: center
}

.cost{

    align-items: end;
}

.fix-pos{
    position: sticky;
    top: 1em;
}
.pad-base {
    margin: 10px;
}

.hide{
    visibility: hidden;
}

.basket{
    display: flex;
    justify-content: space-around;
    height: 90vh;
    align-items: stretch;

}
.prod-basket{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}
.items{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 0vw;
    height: 0vh;
    overflow: auto;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    width: 100%;
    margin: 0 0 7px 0;
}