.back-color {
    background-color: #c5ebd0;
}

.imgMedium {
    width: 580px;
    height: 580px;
    background: #c5ebd0;
    border-radius: 5px;
    padding: 2%;
}

.conteiner-prod {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.prod-place {
    justify-content: start;
    align-items: center;
}
