<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
        <section class="side_bord">
          <div>
            <a href="#">
              <span>Каталог</span>
            </a>
            <ul>
              <li>
                <button>Готовая еда</button>
                <div>
                  <ul>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <button>Овощи</button>
                <div>
                  <ul>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <button>Фрукты</button>
                <div>
                  <ul>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </section>
    </main>
{% endblock %}
</body>
</html>