<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>НатурПродукт - главная страница</title>
</head>
<body>
    <header class="header">
        <nav class="header__navigation">
        </nav>
    </header>
    <main class="main">
        <section class="side_bord">
          <div>
            <a href="#">
              <span>Каталог</span>
            </a>
            <ul>
              <li>
                <button>Готовая еда</button>
                <div>
                  <ul>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <button>Овощи</button>
                <div>
                  <ul>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <button>Фрукты</button>
                <div>
                  <ul>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </section>
    </main>
    <footer>
        <section class="copyright">
            <h2>НатурПродукт</h2>
        </section>
    </footer>
</body>
</html>