{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
<link rel="stylesheet" href="{% static 'css/mainContent.css' %}"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/product_home.js' %}"></script>
{% endblock %}

{% block content %}

<div class="pad-base container-fluid text-center">
  <div class="row">
    <div class=" col-2">
        <div class="fix-pos categories">
            <h3>Категории товаров</h3>
            <a href="#">
                <ul>Овощи
                    <li><a href="#">Картофель</a></li>
                    <li><a href="#">Картофель</a></li>
                    <li><a href="#">Картофель</a></li>
                    <li><a href="#">Картофель</a></li>
                    <li><a href="#">Картофель</a></li>
                </ul>
            </a>
        </div>
    </div>

    <div class="col-7">
        <div class="catalog">
            <h2>Продукция</h2>
            {% for cat in category %}
            <h3>{{ cat }}</h3>
            <div class="сonteiner alert-success">
                {% for prod in product %}
                    {% if cat == prod.productType %}
                        <div class="cat_plate alert-warning">
                            <h5>
                                <a href="{% url 'productPage' prod.pk %}" class="prod-link">{{ prod.productName }}</a>
                            </h5>
                            <figure>
                                <img class="imgSmall me-0" src="{{ prod.productImg.url }}">
                            </figure>
                            <div class="buttons-prod">
                                <span class="cost">{{ prod.productCost }} руб.</span>
                                <div id="button-add"  class="add-buttons">
                                    <button id="{{prod.pk}}" type="button" class="button-add btn btn-outline-secondary me-0">Добавить в корзину</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
      <div class=" col-3">
          <div class="сonteiner alert-success fix-pos basket">
              <aside>
                  <div>
                      <h2>
                          <span>
                              <span>Корзина</span>
                          </span>
                      </h2>
                      <div id="empty">
                          <h3>
                              <span>
                                  <span>В вашей корзине <br> пока пусто</span>
                              </span>
                          </h3>
                          <div>Тут&nbsp;появятся товары, которые вы&nbsp;закажете.</div>
                      </div>
                      <div class="prod-basket">
                          <div id="prod-items" class="сonteiner alert-warning items">

                          <div id="end"></div>
                          </div>
                      </div>
                      <button class="btn">Корзина - 0 ₽</button>
                  </div>
              </aside>
          </div>
      </div>
  </div>
</div>

{% endblock %}
