{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
<link rel="stylesheet" href="{% static 'css/productPage.css' %}"/>
<script type="text/javascript" src="{% static 'js/productPage.js' %}"></script>
{% endblock %}

{% block content %}
<div class="pad-base container-fluid text-center">
    <div class="row">
        <div class="col-2">
            <div class="fix-pos categories">
                <h3>Категории товаров</h3>
                <a href="#">
                    <ul>Овощи
                        <li><a href="#">Картофель</a></li>
                        <li><a href="#">Картофель</a></li>
                        <li><a href="#">Картофель</a></li>
                        <li><a href="#">Картофель</a></li>
                        <li><a href="#">Картофель</a></li>
                    </ul>
                </a>
            </div>
        </div>
        <div class="col-7 ">
            <div class="alert-warning">
                <div class="conteiner-prod cat_plate">
                    <h2 class="prod-place">{{ product.productName }}</h2>
                    <figure class="prod-place">
                        <img class="imgMedium me-0" src="{{ product.productImg.url }}">
                    </figure>

                    <div class="prod-place">
                        <p class="buttons-place">{{ product.productCost }} руб.</p>
                        <div class="buttons-prod-buttons">
                            <button id="button-plus" type="button" class="buttons-place btn btn-outline-secondary me-0">
                                <a href="#" class="text-secondary">+</a>
                            </button>
                            <span id="selected-num" class="numb-style">0</span>
                            <button id="button-minus" type="button" class="buttons-place btn btn-outline-secondary me-0">
                                <a href="#" class="text-secondary">-</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-3">
            <div class="fix-pos basket">
                <aside>
                    <div>
                        <h2>
                            <span>
                                <span>Корзина</span>
                            </span>
                        </h2>
                        <div>
                            <h3>
                                <span>
                                    <span>В вашей корзине <br> пока пусто</span>
                                </span>
                            </h3>
                            <div>Тут&nbsp;появятся товары, которые вы&nbsp;закажете.</div>
                        </div>
                        <span>Корзина - 0&nbsp;₽</span>
                    </div>
                </aside>
            </div>
        </div>
    </div></div>
{% endblock %}
